h1, h2 {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
h3 {
    padding-top: 15px;
}
h4 {
    text-align: center;
}
img {
    margin: auto;
    display: block;
    max-width: 1000px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav a {
    padding: 10px 20px;
}